.DS_Store
git.yml
zsh/history
oh-my-zsh/cache
vim/bundle
vim/.netrwhist
vim/backups
*weechatlog
*.log
__*
logs
ssh/.auth*
ssh/authorized_keys
ssh/id_rsa*
ssh/known_hosts
ssh/environment-mbp
ssh/id_boot2docker
ssh/id_boot2docker.pub
ssh/environment-*
vim/spell
lein/repl-history
spacemacs.private